main {
    display: flex;
    flex-direction: row;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: normal;
    width: 25em;
}

aside h3 {
    display: flex;
    flex-direction: row;
    width: 85%;
    background-color: #dbc2a4;
}
main section {
    background-color: #FFFFFF;
    border-right-width: 5px;
    border-right-color: #2c1d27;
    border-right-style: solid;
}