main {
    display: flex;
    flex-direction: row;
}

main section {
    width: 70%;
    background-color: #FFFFFF;
    border-right-width: 2px;
    border-right-color: #2c1d27;
    border-right-style: solid;
}

main section h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    background-color: #dbc2a4;
    border-left-width: 7px;
    border-left-color: #782221;
    border-left-style: solid;
    text-indent: 1rem;
    margin-left: 5%;
    margin-right: 2%;
}

main section p {
    text-align: justify;
    margin-left: 5%;
    margin-right: 2%;
}

#entreprise {
    font-weight: bold;
}
#diplome {
    font-weight: bold;
}